<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-/mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lessonmapper">

	<select id="lessonMaxNum" resultType="int">
		select nvl(max(lessonIndex),0) from lesson
	</select>
	
	<select id="getLessonCount" resultType="int">
		select nvl(count(*),0) from lesson
	</select>
	
	<select id="getLessonList" resultType="com.exe.dto.LessonDTO">
		select lessonIndex,image,title,trainer,time,addr,content from lesson
	</select>

</mapper>